<div class="w3-padding-small">
<h1>Listing articles</h1>
<table class="w3-table-all">
  <tr class="w3-green">
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td style="width: 20px"><%= link_to edit_article_path(article) do %>
        <i class="fa fa-pencil-square-o">
          <% end %></td>
        <td style="width: 20px"><%= link_to article_path(article) do%>
        <i class="fa fa-eye">
        <% end %></td>
        <td>
          <%= link_to article_path(article), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash">
          <% end %></td>
      
    </tr>
  <% end %>
</table>
</div>